/* Small device  */

@media screen and (max-width: 576px) {
  .container {
    margin: 0 10px;
  }

  header nav .brand {
    width: 100%;
    text-align: center;
  }

  header nav .menu-bars {
    display: block;
    position: relative;
  }
  header nav .menu-bars i {
    color: rgb(58, 58, 58);
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
  }
  header nav .menu {
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 150px;
    transform: translateX(-100%);
  }
  header nav .menu-bars:hover ~ .menu {
    transform: translateX(0);
    transition: 0.5s;
  }

  header nav .menu li {
    width: 100%;
    padding: 5px;
    background: #e02c6d;
    text-align: center;
    border: 1px solid #e02c6d;
  }
  header nav .menu a {
    color: #ffffff;
  }
  header nav .menu-bars i:hover {
    color: #e02c6d;
  }
  header nav .sopping-icon {
    display: block;
  }
  header nav .sopping-icon a i {
    color: rgb(58, 58, 58);
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
  }
  header nav .sopping-icon a i:hover {
    color: #e02c6d;
  }
  /* ===================================== */

  #banner-part .banner-content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  #banner-part .banner-content .left h1 {
    font-size: 28px;
    line-height: normal;
  }
  /* ============== */

  #selling-web .container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0;
  }
  /* =============== */

  #popular-collection .collections {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    align-content: center;
  }
  #popular-collection .collection-content .see-more-btn {
    text-align: center;
  }
  /* ============================= */

  #featured-products .featured-content {
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
  }
  #featured-products .featured-content .right h2 {
    font-size: 30px;
  }
  #featured-products .featured-content p {
    text-align: justify;
  }
}

/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    margin: 0 10px;
  }

  #banner-part .banner-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  #banner-part .banner-content .left p {
    padding: 0 60px;
  }

  /* ================== */
  #selling-web .container {
    padding: 10px 20px;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* ============= */

  #popular-collection .collections {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
  }
  /* ================ */

  #featured-products .featured-content {
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
  }
}
