* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* =================== */

/* common css */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 24px;
  border: 1px solid #e02c6d;
  border-radius: 41px;
  background: rgb(224, 44, 109);
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background: transparent;
  border: 1px solid #e02c6d;
  color: rgb(58, 58, 58);
}

/* =================== */

/* Navbar css  */
header {
  margin: 20px 0 50px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .brand a {
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
header nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  /* display: none; */
}
header nav .menu a {
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  transition: 0.5s;
}
header nav .menu a:hover {
  color: #e02c6d;
}

header nav .menu-bars {
  display: none;
}
header nav .sopping-icon {
  display: none;
}
/* ========== */

/* banner style css */
#banner-part .banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}
#banner-part .banner-content .left {
  flex: 1;
}
#banner-part .banner-content .right {
  flex: 1;
}

#banner-part .banner-content .left h1 {
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
#banner-part .banner-content .left p {
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 16px 0;
}

#banner-part .banner-content .right {
  background: url(../images/Circle-design.svg) no-repeat center;
}
#banner-part .banner-content .right img {
  width: 100%;
}
/* =============== */

/* Selling  Website style css */
#selling-web {
  margin: 100px 0;
}
#selling-web .container {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}
#selling-web .container img {
  transition: 0.5s;
}
#selling-web .container img:hover {
  transform: scale(1.4);
}
/* ============== */
/* Popular Collection style css  */
#popular-collection {
  margin: 100px 0;
}
#popular-collection .collection-content .title h2 {
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
  margin-bottom: 30px;
}

#popular-collection .collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-content: center;
}

#popular-collection .collections .collection-item {
  padding: 17px 15px 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  transition: 0.5s;
  cursor: pointer;
}
#popular-collection .collections .collection-item img {
  width: 100%;
}

#popular-collection .collections .collection-item:hover {
  transform: scale(1.1);
}

#popular-collection .collections .collection-item h3 {
  color: rgb(24, 25, 31);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
#popular-collection .collections .collection-item h4 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}
#popular-collection .collections .collection-item .rating {
  display: flex;
  gap: 10px;
}
#popular-collection .collections .collection-item .rating span {
  color: rgb(94, 99, 102);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}
#popular-collection .collections .collection-item .rating .star-icon {
  color: rgb(251, 130, 0);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}
#popular-collection .collections .collection-item p {
  color: rgb(120, 120, 133);
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 143%;
  width: 196px;
}

#popular-collection .collection-content .see-more-btn {
  margin-top: 50px;
  text-align: right;
}

#popular-collection .collection-content .see-more-btn a {
  color: rgba(224, 44, 109, 0.87);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

/* ======================== */

/* Featured products style css  */
#featured-products {
  margin: 100px 0;
}
#featured-products .featured-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 96px;
}
#featured-products .featured-content .left img {
  width: 100%;
}
#featured-products .featured-content .right h2 {
  color: rgb(10, 8, 38);
  font-family: Poppins;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
}
#featured-products .featured-content .right p {
  color: rgb(108, 108, 108);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  margin: 16px 0;
}
#featured-products .featured-content .right .btn {
  border-radius: 5px;
}
/* ================ */
footer {
  background: #0a0826;
  padding: 50px 0;
}

footer .footer-content {
  text-align: center;
}
footer .footer-content .brand a {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
footer .footer-content p {
  color: rgb(217, 219, 225);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 5px 0;
}
footer .footer-content .social-icon a {
  color: rgb(217, 219, 225);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 15px;
}
footer .footer-content .social-icon i {
  transition: 0.3s;
}
footer .footer-content .social-icon i:hover {
  transform: scale(1.5);
  color: rgb(224, 44, 109);
}
/* ====================== */

.hide {
  display: none;
}
